@page
@model NsccCourseMap_Neo.Pages.Instructors.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Instructor</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Instructor.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Instructor.FirstName)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Instructor.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Instructor.LastName)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Instructor.AdvisingAssignments)
        </dt>
        @foreach (var item in Model.NewAdvisingAssignmentsDatas)
        {
            <dd class="col-sm-10">
                @Html.DisplayFor(modelItem => item.AcademicYearTitle)&nbsp;-&nbsp;
                @Html.DisplayFor(modelItem => item.DiplomaProgramTitle)&nbsp;
                @Html.DisplayFor(modelItem => item.DiplomaProgramYearTitle)&nbsp;
                @Html.DisplayFor(modelItem => item.DiplomaProgramYearSectionTitle)
            </dd>
        }
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Instructor.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
